body {
  font-family: sans-serif;  
  font-size:1rem;
}

.border {
  border-style: inset;
  border-width: 1px;
  margin: 10px;
}

#sampleui {
  max-width: 450px;
  margin-left: 5%;
  height: 100%;
}

#sampleposting {
  max-width: 450px;
  text-align: center;
  margin-left: 5%;
  padding:1rem;
}

#bookDetail {
  padding:1rem;
}

#userstories, h1 {
  margin-left: 5%;
}

form {
  padding: 5px;
}